<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TOP KEK</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="shortcut icon" type="image/png" href="https://www.picng.com/upload/twitch/png_twitch_65616.png">
</head>
<body> 
  <nav>
    <h1>TOP KEK MOMENTS</h1>
    <img src="https://www.picng.com/upload/twitch/png_twitch_65616.png" class="logo"> 
    <div class="nav">
      <input type="checkbox">
        <span></span>
        <span></span>
        <div class="menu">
          <li><a href="/index">home</a></li>
          <li><a href="/about">about</a></li>
          <li><a href="/clips">clips</a></li>
          <% if (user) { %>
            <li><a href="/clips/new">Submit Clip</a></li>
            <li><a href="/logout">Logout</a></li>
          <% } else { %>
          <li><a href="/auth/google" class="login">Login&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a></li>
          <% } %>
        </div>
    </div>
  </nav>