<%- include('./partials/header') %>

<div class="aboutContainer">
    <div class="containerContent">
        <h1>ABOUT TOP KEK:</h1>
        <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque ex ipsam modi perspiciatis error animi consectetur, quas quasi labore inventore, et perferendis maiores blanditiis officia cupiditate veritatis consequatur dolore iste!</h3>
        <br>
        <br>
        <div class="socialIcon">
            <a target="_blank" href="https://github.com/coltonsaywhatt"><img src="https://cdn-icons-png.flaticon.com/512/733/733609.png" alt=""></a>
            <a target="_blank" href="https://www.linkedin.com/in/ronaldportalatinjr/"><img src="https://cdn-icons.flaticon.com/png/512/3536/premium/3536569.png?token=exp=1650918267~hmac=96785149a3686f4a0632422e4d8150e0" alt=""></a>
        </div>
    </div>
</div>
<%- include('./partials/footer') %>