* {
  box-sizing: border-box;
  font-family: Helvetica;
}

body {
  background-image: url('https://i.ibb.co/c3q2h0y/Twitch-Social-Media-Image-Size.jpg');
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

h1, h2, h3, h4 {
  display: flex;
  justify-content: center;
}

h3 {
  color: rgb(203, 203, 203);
  margin: auto;
  padding: 5px;
}

body > nav {
  background-color: #a385d3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}

img {
  width: 14px;
  object-fit: contain;
}

.textLogo {
  position: absolute;
  color: white;
  left: 10px;
  text-transform: uppercase;
  font-family: verdana;
  font-size: 30px;
  font-weight: 700;
  color: #f5f5f5;
  text-shadow: 1px 1px 1px #919191,
    1px 2px 1px #919191,
    1px 3px 1px #919191,
    1px 4px 1px #919191,
    1px 5px 1px #919191,
    1px 6px 1px #919191,
    1px 8px 6px rgba(16,16,16,0.4),
    1px 5px 10px rgba(16,16,16,0.2),
    1px 2px 5px rgba(16,16,16,0.2),
    1px 4px 10px rgba(16,16,16,0.4);
}

.logo {
  position: absolute;
  width: 45px;
  left: 340px;
}

.welcomeText {
  margin: 10px;
  padding: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 35px;
  color: white;
  font-family: "Arial Black", Gadget, sans-serif;
  text-shadow: 1px 1px 1px #919191,
    1px 2px 1px #919191,
    1px 3px 1px #919191,
    1px 4px 1px #919191,
    1px 5px 1px #919191,
    1px 6px 1px #919191,
    1px 8px 6px rgba(16,16,16,0.4),
    1px 5px 10px rgba(16,16,16,0.2),
    1px 2px 5px rgba(16,16,16,0.2),
    1px 4px 10px rgba(16,16,16,0.4);
}

.textTopClips {
  display: flex;
  justify-content: center;
  font-size: 30px;
  color: white;
  text-shadow: 1px 1px 1px #919191,
    1px 2px 1px #919191,
    1px 3px 1px #919191,
    1px 4px 1px #919191,
    1px 5px 1px #919191,
    1px 6px 1px #919191,
    1px 8px 6px rgba(16,16,16,0.4),
    1px 5px 10px rgba(16,16,16,0.2),
    1px 2px 5px rgba(16,16,16,0.2),
    1px 4px 10px rgba(16,16,16,0.4);
}

.indexContainerTop {
  display: flex;
  justify-content: center;
  align-items: center;
}

.indexContainerBottom {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8068a5;
	border-radius: 25px;
	box-shadow: 10px 10px 15px rgba(0,0,0,0.35);
	color: #B3B8CD;
	padding: 10px;
	width: 1700px;
	max-width: 100%;
	margin: 0 auto 35px;
}

.aboutContainer{
  background-color: #6f5a90;
	border-radius: 25px;
	box-shadow: 10px 10px 15px rgba(0,0,0,0.35);
	color: #B3B8CD;
	padding: 20px;
	width: 450px;
	max-width: 100%;
	text-align: center;
	overflow: hidden;
  display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
  margin: auto;
}

.aboutContainer h1 {
  text-transform: uppercase;
  font-family: verdana;
  font-size: 30px;
  font-weight: 700;
  color: #f5f5f5;
  text-shadow: 1px 1px 1px #919191,
    1px 2px 1px #919191,
    1px 3px 1px #919191,
    1px 4px 1px #919191,
    1px 5px 1px #919191,
    1px 6px 1px #919191,
    1px 8px 6px rgba(16,16,16,0.4),
    1px 5px 10px rgba(16,16,16,0.2),
    1px 2px 5px rgba(16,16,16,0.2),
    1px 4px 10px rgba(16,16,16,0.4);
}

.allClipsContainer {
  background-color: #6f5a90;
	border-radius: 25px;
	box-shadow: 10px 10px 15px rgba(0,0,0,0.35);
	padding: 10px 10px 0;
	max-width: 100%;
	text-align: center;
	justify-content: center;
  width: 1300px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;  
}

.viewComments {
  background: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 10px;
  font-weight: 700;
  width: 110px;
  border: 1px solid black;
  box-shadow: 0px 1px 2px 0px black;
}
.viewComments > a {
  text-decoration: none;
  color: black;
}

.viewComments:not(:disabled):hover {
  transform: scale(1.05);
}

.videoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 420px;
  height: 310px;
}

.submitContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8068a5;
	border-radius: 25px;
	box-shadow: 10px 10px 15px rgba(0,0,0,0.35);
	color: #B3B8CD;
	padding: 10px;
	width: 420px;
  height: 200px;
	max-width: 100%;
	text-align: center;
	margin: auto;
	overflow: hidden;
  flex-direction: column;
}

.submitContainer h1 {
  padding: 2px;
  color: white;
  left: 10px;
  text-transform: uppercase;
  font-family: verdana;
  font-size: 30px;
  font-weight: 700;
  color: #f5f5f5;
  text-shadow: 1px 1px 1px #919191,
    1px 2px 1px #919191,
    1px 3px 1px #919191,
    1px 4px 1px #919191,
    1px 5px 1px #919191,
    1px 6px 1px #919191,
    1px 8px 6px rgba(16,16,16,0.4),
    1px 5px 10px rgba(16,16,16,0.2),
    1px 2px 5px rgba(16,16,16,0.2),
    1px 4px 10px rgba(16,16,16,0.4);
}

.submitContainer input {
  width: 250px;
  margin: 5px;
}

.url-input {
  width: 350px;
  height: 30px;
  border-radius: 20px;
  border: 2px solid #ccc;
}

#submitBtn {
  position: relative;
  display: inline-block;
  margin: 15px;
  padding: 10px 20px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
  color: #563884;
  background-color: white;
  cursor: pointer;
  transition: ease-out 0.5s;
  border-radius: 30px;
  border: 2px solid #725AC1;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #725AC1;
 }
 
 #submitBtn:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 #725AC1;
 }
 
 #submitBtn:active {
  transform: scale(0.9);
 }

.socialIcon img {
  width: 40px;
  filter: invert(100%);
  align-items: center;
  justify-content: center;
  flex-direction: row;  
  margin: 10px;
}



.nav, .menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  position: relative;
  background-color: #fff;
  padding: 5px;
  transition: 0.5s;
  border-radius: 50px;
  overflow: hidden;
  box-shadow: 0 8px 15px rgba(0,0,0,.2);
}

.menu {
  margin: 0;
  padding: 0;
  width: 0;
  overflow: hidden;
  transition: 0.5s;
}

.nav input:checked ~ .menu {
  width: 450px;
}

.menu li {
  list-style: none;
  margin: 0 10px;
}

.menu li a {
  text-decoration: none;
  color: #666;
  text-transform: uppercase;
  font-weight: 600;
  transition: 0.5s;
}

.menu li a:hover {
  color: #161919;
}

.nav input {
  width: 30px;
  height: 30px;
  cursor: pointer;
  opacity: 0;
}

.nav span {
  position: absolute;
  left: 14px;
  width: 20px;
  height: 4px;
  border-radius: 50px;
  background-color: #666;
  pointer-events: none;
  transition: 0.5s;
}

.nav input:checked ~ span {
  background-color: #f974a1;
}

.nav span:nth-child(2) {
  transform: translateY(-8px);
}

.nav input:checked ~ span:nth-child(2) {
  transform: translateY(0) rotate(-45deg);
}
.nav span:nth-child(3) {
  transform: translateY(8px);
}

.nav input:checked ~ span:nth-child(3) {
  transform: translateY(0) rotate(45deg);
}

iframe {
  padding: 10px;
}



.detailClip {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.detailReview h2 {
  text-transform: uppercase;
  font-family: verdana;
  font-size: 30px;
  font-weight: 700;
  color: #f5f5f5;
  text-shadow: 1px 1px 1px #919191,
    1px 2px 1px #919191,
    1px 3px 1px #919191,
    1px 4px 1px #919191,
    1px 5px 1px #919191,
    1px 6px 1px #919191,
    1px 8px 6px rgba(16,16,16,0.4),
    1px 5px 10px rgba(16,16,16,0.2),
    1px 2px 5px rgba(16,16,16,0.2),
    1px 4px 10px rgba(16,16,16,0.4);
}

form#add-review-form {
  justify-content: space-evenly;
  align-items: center;
  background-color: #8068a5;
  border-radius: 25px;
  box-shadow: 10px 10px 15px rgb(0 0 0 / 35%);
  color: #B3B8CD;
  width: 500px;
  height: 45px;
  margin: auto;
  display: flex;
}

table {
  margin-inline: auto;
  margin-top: 50px;
  background-color: #8068a5;
	border-radius: 25px;
	box-shadow: 10px 10px 15px rgba(0,0,0,0.35);
  width: 1000px;
  color: black;
}
h5 {
  display: flex;
  justify-content: center;
  font-size: 20px;
  color: snow;
}

.updateReview {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;;
}

.updateReview input {
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid;
  width: 231px;
  height: 20px;
}

input.commentInput {
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid;
  width: 231px;
  height: 20px;
}

form#add-review-form {
  color: white;
}

.updateBtn {
  background: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 10px;
  font-weight: 700;
  width: 110px;
  color: black;
  box-shadow: 0px 1px 2px 0px black;
  border: 1px solid black;
}

.updateBtn:not(:disabled):hover {
  transform: scale(1.05);
}

.deleteBtn {
  background: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 10px;
  font-weight: 700;
  width: 30px;
  color: black;
  box-shadow: 0px 1px 2px 0px black;
  border: 1px solid black;
  text-decoration: none;
}

.deleteBtn:not(:disabled):hover {
  transform: scale(1.05);
}

.addBtn {
  background: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 10px;
  font-weight: 700;
  width: 65px;
  color: black;
  box-shadow: 0px 1px 2px 0px black;
  border: 1px solid black;
}

.addBtn:not(:disabled):hover {
  transform: scale(1.05);
}

#del {
  margin-right: 100px;
}