<%- include('./partials/header') %>

<div class="homeVideo">
    <iframe src="https://clips.twitch.tv/embed?clip=TransparentThankfulAlfalfaYee--byGuSDtkkL781Fs&parent=localhost" frameborder="0" allowfullscreen="true" scrolling="no" height="378" width="620"></iframe>
</div>

<%- include('./partials/footer') %>