<%- include('../partials/header') %>

<div class="allClips">
  <% for(let i = 0; i < clips.length; i++){%>
    <iframe src="<%= clips[i].Url %>" frameborder="0" allowfullscreen="true" scrolling="no" height="278" width="420"></iframe>
  <% } %>  
</div>
  
<%- include('../partials/footer') %>
