<%- include('./partials/header') %>

<div class="about">
    <h3>ABOUT TOP KEK:</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque ex ipsam modi perspiciatis error animi consectetur, quas quasi labore inventore, et perferendis maiores blanditiis officia cupiditate veritatis consequatur dolore iste!</p>
</div>

<%- include('./partials/footer') %>